11.1

In [4]:
import zoo
zoo.hours()

Open 9-5 daily

11.2

In [21]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

16.4

In [1]:
import sqlite3

conn = sqlite3.connect("books.db")
cur = conn.cursor()

cur.execute('''CREATE TABLE books (
                title TEXT,
                author TEXT,
                year INTEGER)''')

conn.commit()
conn.close()

In [5]:
from sqlalchemy import create_engine, MetaData, Table, select

engine = create_engine("sqlite:///books.db")
conn = engine.connect()

metadata = MetaData()
books = Table("books", metadata, autoload_with=engine)

query = select(books.c.title).order_by(books.c.title)

result = conn.execute(query)

for row in result:
    print(row[0])

conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!